html{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none !important;
    color:black;
}

a:hover{
    text-decoration: none !important;
}

.main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top:10%;
}

.main .card{
    width:200px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 5px gray;
    margin: 30px;
    border-radius: 5px;
}

.main .card:hover{
    background-color: darkorange;
    color:white;
}