:root{
    --green:rgb(170, 210, 54);
    --brown:#e4b476;
}

html{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url('./assets/landing-background.png');
    background-size: cover;
}

nav{
    width: 100%;
    padding: 8px;
    height: 77px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
}

nav > img {
    margin:10px 35px;
}

nav > .nav-menu{
    margin:15px 0px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

nav > .nav-menu > .nav-menu-item, nav > .nav-menu > .nav-menu-btn{
    color: black;
    margin-right:30px;
    font-size:14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > .nav-menu-btn{
    margin-right: 15px;
}


nav > .nav-menu > .dropdown-component{
    position: relative;
}

nav > .nav-menu > .dropdown-component:hover .dropdown-menu{
    display: block;
}

nav > .nav-menu > .dropdown-component > .dropdown-menu{
    width:150%;
    font-size: 17px;
    font-weight: 100;
    position: absolute;
    top:30px;
    left:-75px;
    background-color: white;
    border-top: 3px solid var(--green);
    box-shadow: 1px 2px 5px gray;
    padding: 20px 15px 10px;
    z-index: 100;
    display: none;
}

nav > .nav-menu > .dropdown-component > .dropdown-menu > .item{
    margin:3px 0;
    padding: 3px 5px;
}

nav > .nav-menu > .dropdown-component > .dropdown-menu > .item.mid{
    border-top: 1px solid rgb(128,128,128,0.5);
    border-bottom: 1px solid rgb(128,128,128,0.5);
}

.nav-menu-btn{
    color: white !important;
    background-color: var(--green);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0;
    padding: 10px 35px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-menu-btn.nav-btn-sm{
    font-size: 12px !important;
    max-height: 32px;
}

section#landing-section{
    width: 100%;
    height: 100vh;
}

section#landing-section > #main-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-text h1{
    width: 100%;
    max-width: 1100px;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 8.8px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
}

#main-text p{
    width: 100%;
    max-width: 1100px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #8b8b99;
    text-align: center;
    padding-top: 32px;
}

section#steps-section{
    display: flex;
    flex-direction: row;
}

section#steps-section > .step-item{
    padding: 112px 48px;
    text-align: center;
    color: white;
    box-sizing: border-box;
}

section#steps-section  #step1{
    background-color: #5acda6 !important;
}

section#steps-section > #step2{
    background-color: #91ac41;
}

section#steps-section > #step3{
    background-color: var(--brown);
}

section#steps-section > #step4{
    background-color: #f69dad;
}

section#steps-section > .step-item > i{
    font-size: 96px;
    transition: all 0.3s;
}

section#steps-section > .step-item:hover i{
    transform: scale(1.1,1.1);
}

section#steps-section > .step-item > h3{
    font-weight: 600;
    font-size: 24px;
    margin: 20px 0;
}

section#steps-section > .step-item > p{
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    margin-top: 0;
}

section.details-section{
    width: 100%;
    padding: 75px 0;
    text-align: center;
}

section.details-section > .heading{
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}

section.details-section > h3{
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}

section.details-section > .description{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
}

section.details-section > .wrapper{
    width: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: stretch;
    margin: 0 auto;
}

section#store-section {
    background-color: #f7eee2;
}

section#store-section >  #store-items-wrapper > .store-item {
    text-align: center;
    padding: 24px;
}

section#store-section > #store-items-wrapper > .store-item > .icon-wrapper{
    display: inline-block;
    background-color: #e3b375;
    border-radius: 50%;
    padding: 40px;
    color: white;
    transition: all 0.3s;
}
section#store-section > #store-items-wrapper > .store-item > .icon-wrapper > i{
    font-size: 60px;
}

section#store-section > #store-items-wrapper > .store-item:hover >.icon-wrapper{
    transform: scale(1.1,1.1);
}

section#store-section > #store-items-wrapper > .store-item > h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section#store-section > #store-items-wrapper > .store-item > p{
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-top: 1rem;
    color: #8b8b99;
}

section#testimonials-section > .description{
    max-width: 700px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
}

section#testimonials-section > .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

section#testimonials-section > .wrapper > .testimonial-item{
    text-align: center;
    background-color: #f5f6fb;
    padding: 40px 30px;
    margin: 16px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    transition: box-shadow 0.3s;
}

section#testimonials-section > .wrapper > .testimonial-item:hover {
    box-shadow: 0 12px 16px 0 rgba(39,39,47,0.06);
}

section#testimonials-section > .wrapper > .testimonial-item img {
    width: 80px;
    margin-bottom: 25px;
    border-radius: 50%;
}

section#testimonials-section > .wrapper > .testimonial-item > .testimonial-message {
    font-size: 14px;
    color: #8b8b99;
    letter-spacing: 0.5px;
    font-style: italic;
    margin: 0;
}

section#testimonials-section > .wrapper > .testimonial-item > .testimonial-item h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 0px;
}

section#testimonials-section > .wrapper > .testimonial-item > .job-role{
    color: #8b8b99;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.5px;
    margin: 0;
}

section#follow-section {
    display: flex;
    justify-content: stretch;
}

section#follow-section > .left-section{
    width: 67%;
    display: inline-block;
    margin: 0;
}

section#follow-section > .left-section > img{
    width:100%;
}

section#follow-section > .right-section{
    width: 33%;
    margin: 0;
    display: inline-block;
    background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png);
    background-position: left;
    background-size: cover;
}

section#follow-section > .right-section > .text-wrapper{
    margin: 115px;
}

section#follow-section > .right-section > .text-wrapper > h3{
    font-size: 44px;
    font-weight: 600;
    margin: 0 0 8px;
}

section#follow-section > .right-section > .text-wrapper > p{
    color: #8b8b99;
    font-size: 16px;
    letter-spacing: 0.5;
    line-height: 1.6;
    margin: 0;
}

section#follow-section > .right-section > .text-wrapper > #subscribe-email {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-width:0px;
    outline: 0;
    border-radius: 4px;
    font-weight: 500;
    background-color: white;
    padding: 12px;
    color: #8b8b99;
    font-size: 16px;
    margin-top: 60px;
    display: block;
}

section#follow-section > .right-section > .text-wrapper > #subscribe-btn {
    background-color: #f69dad;
    padding: 16px 42px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 16px;
}

section#follow-section > .right-section > .text-wrapper > #subscribe-btn:hover {
    color: #f69dad;
    border: 1px solid #f69dad;
    background-color: transparent;
}

section#stats-section {
    width: 100%;
    background-color: #f6fcfa;
    margin-bottom: 20px;
}

section#stats-section > .stats-wrapper {
    width: 100%;
    max-width: 1140px;
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;

    display: flex;
    justify-content: stretch;
}

section#stats-section > .stats-wrapper > .stats-item {
    width: 25%;
    padding: 0 64px;
}

section#stats-section > .stats-wrapper > .stats-item h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0;
}

section#stats-section > .stats-wrapper > .stats-item p {
    color: #57e3b5;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: italic;
    margin: 0;
}
section#video-section {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

section#video-section > h3 {
    color: #8b8b99;
    font-size: 44px;
    font-weight: 400;
}


section#video-section > .separator {
    width: 96px;
    display: inline-block;
    height: 1px;
    background-color: #e4b476;
    margin-top: 30px;
    margin-bottom: 36px;
}

section#video-section > iframe {
    width: 100%;
    height: 425px;
}

section#address-section {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

section#address-section > div {
    width: 50%;
}

section#address-section > div:last-of-type {
    width: 40%;
}

section#address-section > div > .green-heading {
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}

section#address-section > div > .section-heading {
    font-weight: 700;
    font-size: 44px;
    margin: 10px 0;
}

section#address-section > div > .section-description {
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 0.5px;
}

section#address-section > div > .address-heading {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-top: 32px;
}

section#address-section > div > .address-lines {
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 0.5px;
    line-height: 2;
    margin: 0;
}

section#address-section > div > form > .input-box {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: #8b8b99;
    border-radius: 6px;
    border: 1px solid #e5e6ec;
    margin-bottom: 16px;
    box-sizing: border-box;
}

section#address-section > div > form > #btn-submit {
    color: white !important;
    background-color: var(--green);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0;
    padding: 10px 35px;
    text-transform: uppercase;
    cursor: pointer;
}

footer{
    background-color:#232323;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 30px 0px;
}

@media screen and (max-width: 900px){
    nav > .nav-menu > .nav-menu-item{
        display: none !important;
    }

    .nav-menu-btn {
        margin-right: 0
    }

    #main-text > h1 {
        font-size: 28px;
    }

    #main-text > p {
        padding: 16px;
        box-sizing: border-box;
    }

    .store-item > h3{
        font-size: 28px;
    }

    section#testimonials-section > .wrapper{
        flex-direction: column;
    }

    section#follow-section{
        flex-direction: column;
    }

    section#follow-section > .left-section{
        width: 100%;
    }
    
    section#follow-section > .right-section{
        width: 100%;
    }

    section#follow-section > .right-section > .text-wrapper {
        margin: 16px;
    }

    section#follow-section > .right-section > .text-wrapper > h3 {
        font-size: 28px;
    }

    section#stats-section > .stats-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section#stats-section > .stats-wrapper > .stats-item{
        width: 100%;
    }
    section#stats-section > .stats-wrapper > .stats-item.stats-margin{
        margin: 10px 0;
    }

    section#video-section > .separator {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    section#video-section > iframe{
        height: 350px;
    }

    section#address-section {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 16px;
        padding-top: 0;
        box-sizing: border-box;
    }

    section#address-section > div {
        width: 100%;
    }

    section#address-section > div:last-of-type {
        width: 100%;
    }
}